html,
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #cadddfc7;
  margin: 0px;
  max-height: 100vw;
  max-height: 100vh;
}

.container_header {
  background-color: #cadddfc7;
  align-items: center;
  justify-content: space-between;
  border: 2px dotted black;
}

.logo_texto {
  font-size: 40px;
  display: flex;
  margin-left: 40%;
  color: rgb(100, 96, 96);
}

.main {
  font-size: 20px;
  border: 2px solid grey;
  text-align: center;
  color: rgb(100, 96, 96);
  background-color: #d1d1d1;
  justify-items: center;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  align-content: center;
  align-items: center;
  background-color: rgb(121, 117, 117);
  color: white;
  display: inline-block;
  padding: 5px;
  font-size: 40px;
  margin: 10px 1px;
  box-shadow: 2px 2px rgb(5, 5, 5);
}

#game {
  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: rgb(0, 0, 0);
  display: grid;
  place-items: center;
  font-size: 2.4rem;
  margin: 4px;
  border-color: black;
  border-style: solid;
}

.box.fail {
  background-color: #bd564f;
}

.box.n-ok {
  background-color: rgb(212, 201, 97);
}

.box.ok {
  background-color: rgb(110, 218, 110);
}

.new {
  display: block;
  font-size: 30px;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button.start {
  width: 280px;
  height: 80px;
  margin: 238px;
  border-radius: 2%;
  background-color: rgb(142, 207, 142);
  color: black;
  border-color: black;
  border-style: solid;
}

.button.try-again {
  display: none;
}

.button.try-again.game {
  display: inline-block;
  width: 300px;
  height: 70px;
  border-radius: 5%;
  background-color: #bd564f;
  color: black;
  font-size: 25px;
  border-color: black;
  border: solid;
  margin: 15%;
}

.button.try-again.game:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.tooltip {
  color: rgb(100, 96, 96);
  font-size: 26px;
  display: block;
  position: relative;
  width: 300px;
}

.tooltip .tooltiptext {
  position: absolute;
  text-align: center;
  margin-left: 5px;
  visibility: hidden;
  font-size: 14px;
  background-color: #000;
  color: #FFF;
  padding: 5px 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
  top: -80px;
  left: 0;
  z-index: 50;
}

.jogo {
  display: none;
  color: rgb(40, 39, 39);
}

.sbutton {
  display: contents;
}

.sbutton.hide {
  display: none;
}

.jogo.show {
  display: contents;
}

.footer-heading-footer-1 {
  color: white;
  display: flex;

}

.footer-container {
  background-color: #cadddfc7;
  display: flex;
  border: 2px dotted black;
}

.footer {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.footer-heading-footer-2 {
  flex-direction: column;
}

.footer-heading-footer-1 a {
  color: rgb(100, 96, 96);
  text-decoration: none;
}

.footer-heading-footer-3 a:hover {
  transition: 0.1 ease-out;
  text-decoration: underline;
}

.footer-heading-footer-1 a:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}